/*#region basic settings*/
:root {
  --white: #ffffff;
  --black: #141414;
  --gray: #555;
  --dark-gray: #1E2C30;
  --accent: #7A9CA5;
  --border-light: rgba(0, 0, 0, 0.15);
  --dark-green: #111E22;
  --accent-dark: #5C8692;
  --banner-bg: #EBF3F5;
  --banner-overlay: rgba(0, 44, 54, 0.8)
}

[data-theme="dark"] {
  --white: #1a1a1a;
  --black: #f0f0f0;
  --gray: #555;
  --dark-gray: #0d1618;
  --accent: #7A9CA5;
  --border-light: rgba(255, 255, 255, 0.15);
  --dark-green: #829ca7;
  --accent-dark: #5C8692;
  --banner-bg: #2A3538;
}

@font-face {
    font-family: 'Playfair'; 
    src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
}
  
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: 0;
}
/*#endregion*/