/*#region sbasic satings*/
@font-face {
    font-family: 'Playfair'; 
    src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    border:0;
    }

html {
    box-sizing: border-box;
    font-size: 10px;
    }
*,
*::before,
*::after {
    box-sizing: inherit;
    }
a {
    color: inherit;
    text-decoration: none;
    }
img {
    max-width: 100%;
    }
body{
    margin: 0;
    padding: 0;
    }
/*#endregion*/

/*#region header*/
header{
    padding-left: 3.125%;
    padding-right: 3.125%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    font-size: 1.8rem;
    }
.header-logo-container{
    display: flex;
    align-items: center;
    gap: 4.6rem;
    }
.header-logo-container img{
    width: 191px;
    height: 35px;
    }
.header-img-container{
    display: flex;
    align-items: center;
    gap: 9px
}
.header-img-container img{
    display: flex;
    width: 21px;
    height: 21px;
}
/* space between blocks*/
.header-auth-buttons{
    gap: 32px;
    display: flex;
    align-items: center;
}
.header-auth-buttons nav{
    display: flex;
    gap: 30px;
}
.reserv-button{
    width: 199.5px;
    height: 50px;
    display: flex;
    background: #7A9CA5;
    color: #fff;
    padding: 16px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}
/* satrt of burger menu*/
.burger-menu{
    cursor: pointer;
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    }
.burger-menu::before,
.burger-menu::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  left: 0;
  transition: all 0.3s ease;
}
.burger-menur::before {
top: 0;
}
.burger-menu::after {
bottom: 0;
}
/*end of burger menu*/
.header-auth-buttons button img{
    width: 15px;
    height: 15px;
}
.header-auth-img-container{
    gap: 30px;
    display: flex;
    align-items: center;
}
/*#endregion*/


/*#region madia*/
@media screen and (max-width: 1439px){
    /*start of header*/
    .header-auth-buttons nav{
        display:none;
        gap: 30px;
    }
    .burger-menu{
        display: block;
    }
    /*end of header*/
}
@media screen and (max-width: 1000px){
    /*start of header*/
    .header-auth-img-container{
        display: none;
    }
    .header-img-container{
        display: none;
    }
    /*end of header*/
}
@media screen and (max-width: 550px){
    /*start of header*/
    header{
        height: 80px;
    }
    .reserv-button{
        display: none;
    }
    .burger-menu{
        width: 40px;
        height: 40px;
    }
    /*#endregion*/

}